#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Group_1 {
  position: absolute;
  width: 490px;
  height: 515px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  box-shadow: none;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_1 {
  position: absolute;
  width: 490px;
  height: 515px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_1 > .clipping, #s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_1 > .paddingLayer {
  height: 513px;
  width: 488px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Paragraph_1 {
  position: absolute;
  width: 338px;
  height: 68px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Paragraph_1 > .clipping, #s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Paragraph_1 > .paddingLayer {
  height: 68px;
  width: 338px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Paragraph_1 span {
  color: #B2B2B2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #B2B2B2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #282828;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_2 {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_2 > .clipping, #s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_2 > .paddingLayer {
  height: 43px;
  width: 160px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Input_1 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Input_1 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Input_1 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Input_1 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Input_1 {
  position: absolute;
  width: 360px;
  height: 48px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Input_1 > .paddingLayer {
  height: 44px;
  width: 341px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 7px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Text_1 {
  position: absolute;
  width: 266px;
  height: 96px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 42px;
  font-size: 28.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Text_1 > .clipping, #s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Text_1 > .paddingLayer {
  height: 96px;
  width: 266px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Text_1 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Image_1 > svg {
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Image_1 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Image_1 > img, #s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Image_1 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}