#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27af05a1-98d4-4dca-b4bc-6479f1a628d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}