#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b33d8d1-2e3d-424b-b0b7-770d56c3b7ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}