#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92cf4948-8c6e-4dd5-8a39-7599a75d8ae9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}