#s-c0d17f17-ba57-4c30-bad1-1947957f8999 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d17f17-ba57-4c30-bad1-1947957f8999 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d17f17-ba57-4c30-bad1-1947957f8999 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d17f17-ba57-4c30-bad1-1947957f8999 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d17f17-ba57-4c30-bad1-1947957f8999 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d17f17-ba57-4c30-bad1-1947957f8999 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d17f17-ba57-4c30-bad1-1947957f8999 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d17f17-ba57-4c30-bad1-1947957f8999 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d17f17-ba57-4c30-bad1-1947957f8999 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d17f17-ba57-4c30-bad1-1947957f8999 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d17f17-ba57-4c30-bad1-1947957f8999 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d17f17-ba57-4c30-bad1-1947957f8999 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c0d17f17-ba57-4c30-bad1-1947957f8999 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}