#s-c5c2ec9d-12e5-441e-a323-3cab90417cb5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c2ec9d-12e5-441e-a323-3cab90417cb5 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c2ec9d-12e5-441e-a323-3cab90417cb5 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c2ec9d-12e5-441e-a323-3cab90417cb5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c2ec9d-12e5-441e-a323-3cab90417cb5 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c2ec9d-12e5-441e-a323-3cab90417cb5 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c2ec9d-12e5-441e-a323-3cab90417cb5 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c2ec9d-12e5-441e-a323-3cab90417cb5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c5c2ec9d-12e5-441e-a323-3cab90417cb5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}