#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Arrow_right {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Arrow_left {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}