#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Arrow_right {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Arrow_left {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b #s-Rectangle_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-d7ef1bee-7ca1-4e95-8ebd-c869ed126f5b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}