#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Input_1 INPUT {
  font-family: Arial;
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}