#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f2d3e830-0c57-4266-8cb3-c7aad88023a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}