.ui-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    
}
.ui-container-section {
    border-top: 2px solid #a0aec0;
}

  input, .ui-button {
    border: 0.0625em solid #C9D3DF;
    border-radius: 0.416666875em;
    max-height: 2.975em;
    position: relative;
    outline: transparent;
    padding: 0.85em 1em;
    margin-bottom: 15px;
    width: 100%;
  }

  label {
    text-transform: uppercase;
  }
  .ui-button {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
  }
  .ui-button.primary{
    background-color: #319795;
  }
  .ui-button.secondary {
    background-color: #718096;
  }
  .ui-button.cancel {
    background-color: #e53e3e;;
  }

  /* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; 
  top: 0;
  width: 1.25em; 
  height: 1.25em;
  border: 2px solid #C9D3DF;
  background: #fff;
  border-radius: 0.416666875em;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: .15em; left: .22em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
    font-family: 'Oswald', sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted #2d3748;
}
/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}